<!DOCTYPE HTML>
<html>
<head>
  <link rel='stylesheet' href='whisk.css' type='text/css' />
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true
      },
      "HTML-CSS": { availableFonts: ["TeX"] }
    });
  </script>
  <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
</head>
<body>
  <div id='wrapper'>
    <header>
      <h1>{{ metadata['title']|mmd|inline }}</h1>
    </header>
    <main>
      {{ html }}
      <ul>
      {% for note in notes %}
      <li><a href='{{note.url}}'>{{ note.metadata['date'] }} &mdash; {{ note.metadata['title']|mmd|inline }}</a></li>
      {% endfor %}
      </ul>
    </main>
  </div>
</body>
</html>
